/app/config/parameters.yml
/app/bootstrap.php.cache
/bin/
/build/
/var/*
!var/cache
/var/cache/*
!var/cache/.gitkeep
!var/logs
/var/logs/*
!var/logs/.gitkeep
!Files
/Files/*
!TempFiles
/TempFiles/*
!var/Files
/var/Files/*
!var/TempFiles
/var/TempFiles/*
!var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/phpunit.xml
/composer.phar
/composer.lock
/.settings/
/.buildpath
/.classpath
/.project
