{% extends 'AllucoAdminBundle::template.html.twig' %}
{%block content%}
<div class="row">
    <div class="col-lg-12">
        <div class="box box-solid">
            <div class="box-header with-border">
            <div class="box-body">
                A ajouter : Vidéo explicative d'utilisation de l'interface admin<br><br>
                <b>Cordialement<b>,<br>
                <span style="color:graytext; font-size: small;">SALAH Abdelkader Seif Eddine</span>
                </b>
            </div>
        </div>
    </div>
</div>
{%endblock content%}
